---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=5&q=evergreen,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.071 TT 0 0.073"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 1193,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL20226612W",
                    "type": "work",
                    "seed": [
                        "/books/OL27418098M",
                        "/works/OL20226612W",
                        "/subjects/evergreens",
                        "/subjects/nursery_stock",
                        "/subjects/catalogs",
                        "/subjects/trees",
                        "/subjects/seedlings",
                        "/subjects/place:illinois",
                        "/subjects/place:dundee",
                        "/authors/OL7234884A"
                    ],
                    "title": "D. Hill Nursery Co., evergreen specialists",
                    "title_suggest": "D. Hill Nursery Co., evergreen specialists",
                    "title_sort": "D. Hill Nursery Co., evergreen specialists",
                    "edition_count": 1,
                    "edition_key": [
                        "OL27418098M"
                    ],
                    "publish_date": [
                        "1935"
                    ],
                    "publish_year": [
                        1935
                    ],
                    "first_publish_year": 1935,
                    "number_of_pages_median": 48,
                    "oclc": [
                        "945769802"
                    ],
                    "contributor": [
                        "Henry G. Gilbert Nursery and Seed Trade Catalog Collection"
                    ],
                    "last_modified_i": 1570794345,
                    "ebook_count_i": 1,
                    "ebook_access": "public",
                    "has_fulltext": true,
                    "public_scan_b": true,
                    "ia": [
                        "CAT31345161"
                    ],
                    "ia_collection": [
                        "americana",
                        "biodiversity",
                        "fedlink",
                        "usda-nurseryandseedcatalog",
                        "usdanationalagriculturallibrary"
                    ],
                    "ia_collection_s": "americana;biodiversity;fedlink;usda-nurseryandseedcatalog;usdanationalagriculturallibrary",
                    "lending_edition_s": "OL27418098M",
                    "lending_identifier_s": "CAT31345161",
                    "cover_edition_key": "OL27418098M",
                    "cover_i": 8879691,
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL7234884A"
                    ],
                    "author_name": [
                        "D. Hill Nursery Company"
                    ],
                    "place": [
                        "Illinois",
                        "Dundee"
                    ],
                    "subject": [
                        "Evergreens",
                        "Nursery stock",
                        "Catalogs",
                        "Trees",
                        "Seedlings"
                    ],
                    "place_key": [
                        "dundee",
                        "illinois"
                    ],
                    "subject_facet": [
                        "Catalogs",
                        "Evergreens",
                        "Nursery stock",
                        "Seedlings",
                        "Trees"
                    ],
                    "_version_": 1759761991100006400,
                    "place_facet": [
                        "Dundee",
                        "Illinois"
                    ],
                    "author_facet": [
                        "OL7234884A D. Hill Nursery Company"
                    ],
                    "subject_key": [
                        "catalogs",
                        "evergreens",
                        "nursery_stock",
                        "seedlings",
                        "trees"
                    ]
                },
                {
                    "key": "/works/OL20335340W",
                    "type": "work",
                    "seed": [
                        "/books/OL27543364M",
                        "/works/OL20335340W",
                        "/subjects/prices",
   [...]
