---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&dt=2023-06-25&hour=16&key=DONT_SHARE_MY_WEATHER_API_KEY&q=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/13/2023 21:49:35
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - e91c9b55cf0bd7f90fb60c0252e0ddce
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.98,"tz_id":"America/Denver","localtime_epoch":1686692975,"localtime":"2023-06-13
        15:49"},"current":{"last_updated_epoch":1686692700,"last_updated":"2023-06-13
        15:45","temp_c":12.4,"temp_f":54.3,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":8.1,"wind_kph":13.0,"wind_degree":290,"wind_dir":"WNW","pressure_mb":1017.0,"pressure_in":30.02,"precip_mm":0.1,"precip_in":0.0,"humidity":84,"cloud":75,"feelslike_c":11.3,"feelslike_f":52.4,"vis_km":16.0,"vis_miles":9.0,"uv":4.0,"gust_mph":8.1,"gust_kph":13.0},"forecast":{"forecastday":[{"date":"2023-06-25","date_epoch":1687651200,"day":{"maxtemp_c":33.6,"maxtemp_f":92.5,"mintemp_c":18.3,"mintemp_f":64.9,"avgtemp_c":25.4,"avgtemp_f":77.8,"maxwind_mph":9.6,"maxwind_kph":15.5,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":29.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":7.0},"astro":{"sunrise":"05:33
        AM","sunset":"08:32 PM","moonrise":"12:31 PM","moonset":"12:43 AM","moon_phase":"Waxing
        Crescent","moon_illumination":"37","is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1687730400,"time":"2023-06-25
        16:00","temp_c":33.0,"temp_f":91.4,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":9.2,"wind_kph":14.8,"wind_degree":19,"wind_dir":"NNE","pressure_mb":1004.0,"pressure_in":29.64,"precip_mm":0.0,"precip_in":0.0,"humidity":15,"cloud":30,"feelslike_c":30.9,"feelslike_f":87.6,"windchill_c":33.0,"windchill_f":91.4,"heatindex_c":30.9,"heatindex_f":87.6,"dewpoint_c":2.4,"dewpoint_f":36.3,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":10.5,"gust_kph":16.9,"uv":8.0}]}]}}'
  recorded_at: Tue, 13 Jun 2023 21:49:35 GMT
recorded_with: VCR 6.1.0
