---
http_interactions:
- request:
    method: get
    uri: https://api.timezonedb.com/v2.1/get-time-zone?by=position&format=json&key=7ATZXOOT7Y4I&lat=8.9824&lng=-79.5199
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Identity:
      - e7ffd5e29467a294264e5a1320f3c3d9
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "status": "OK",
            "message": "",
            "countryCode": "PA",
            "countryName": "Panama",
            "regionName": "Panama",
            "cityName": "Bella Vista",
            "zoneName": "America\/Panama",
            "abbreviation": "EST",
            "gmtOffset": -18000,
            "dst": "0",
            "zoneStart": -1946918424,
            "zoneEnd": null,
            "nextAbbreviation": null,
            "timestamp": 1686674977,
            "formatted": "2023-06-13 16:49:37"
        }
  recorded_at: Tue, 13 Jun 2023 21:49:37 GMT
recorded_with: VCR 6.1.0
